@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/starter-code/assets/background-stars.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#070625;
    color: white;
    font-family: 'Spartan', sans-serif;
    /* font-family: 'Antonio', sans-serif; */
}
body::after{

}

.container{
    height: 100vh;
}

header{
    display: flex;
    padding: 20px 0px;
    width: 100%;
}

#title{
    /* border: 2px solid blue; */
    width: 45%;
    font-weight: 400;
    padding-left: 30px;
    text-transform: uppercase;
}

#planets{
    /* border: 2px solid green; */
    /* width: 55%; */
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
}

#planets button{
    /* text-decoration: none; */
    background: none;
    border: none;
    outline: none;
    color: white;  
    text-transform: uppercase;  
}

#planets button:hover{
    text-decoration: underline;
    color: blue;
}

.middle_Content{
    /* border: 2px solid red; */
    width: 70%;
    padding: 80px 10px 60px 40px;
    margin: 0 auto 80px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.planet_Image{
    /* border: 2px solid green; */
    width: 50%;
    padding: 40px 0;
}

.plant_content{
    /* border: 2px solid red; */
  width: 35%;  
  margin-left: 75px;
}

.plant_content h1{
    font-family: 'Antonio', sans-serif;
    text-transform: uppercase;
    font-size: 70px;
    margin-bottom: 5px;
}

#wiki{
    font-size: small;
    margin-top: 25px;
    margin-bottom: 25px;
    color: inherit;
    opacity: .3;
}

#wiki a{
    color: white;
    text-decoration: none;
}

#wiki a:hover{
    text-decoration: underline;
}

.buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 60px;
}

.buttons div{
    border: 2px solid white;
    padding: 5px 20px;
    margin-top: 15px;
    height: 50px;
    text-transform: uppercase;
    text-align: left;
}

.buttons div:hover{
    background-color: rgb(80, 32, 158);
}

footer{
    /* border: 2px solid purple; */
    width: 70%;    
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

footer div{
    border: 2px solid grey;
    padding: 20px 40px;
    margin-bottom: 50px;
}

footer div p{
    font-size: small;
    text-transform: uppercase;
    color: inherit;
    opacity: .3;
}

footer div h1{
    font-family: 'Antonio', sans-serif;
    text-transform: uppercase;
}

